<!-- Toolbar -->
<div class="dashboard">
  <div class="toolbar-container" *ngIf="authenticated | async">
    <div class="toolbar" role="banner">
      <img width="40" alt="Mamoka Logo" src="assets/mamoka_logo.jpeg" />
      <span>Mamoka</span>
      <div class="spacer"></div>
      <div class="logout-button">
        <button mat-flat-button color="primary" (click)="doLogout()">
          logout
        </button>
      </div>
    </div>
  </div>

  <div class="content" role="main">
    <!-- Resources -->

    <div class="card-container"><router-outlet></router-outlet></div>

    <!-- Footer -->
  </div>
</div>
<footer>Mamoka - all rights reserved.</footer>
