.dashboard {
  justify-content: unset;
}

.movie-label {
  &-available {
    background: green;
  }
  &-not-available {
    background: red;
  }
}
.l-w {
  border-radius: 5px;
  width: fit-content;
  color: white;
  padding: 3px;
}
