::ng-deep .movie-table {
  * {
    word-break: break-all;
  }
}

.dashboard {
  justify-content: unset;
}
// .movie-table {
//   margin: 60px 0 20px;
// }
.movie-label {
  &-available {
    background: green;
  }
  &-not-available {
    background: red;
  }
}
.l-w {
  border-radius: 5px;
  width: fit-content;
  color: white;
  padding: 3px;
}
