<table mat-table [dataSource]="dataSource" class="movie-table mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let element">{{ element.year }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <!--TODO style="display: flex"-->
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let el of element.category">
        {{ el.name }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="available">
    <th mat-header-cell *matHeaderCellDef>Available</th>
    <!--TODO style="display: flex"-->
    <td mat-cell *matCellDef="let element">
      <div
        class="l-w"
        [ngClass]="
          element.available
            ? 'movie-label-available'
            : 'movie-label-not-available'
        "
      >
        {{ getAvailable(element.available) }}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <!--TODO style="display: flex"-->
    <td mat-cell *matCellDef="let element">
      <div>
        <button
          (click)="openMovieDetail(element.id)"
          mat-flat-button
          color="primary"
        >
          dettaglio
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
